.body{
    display: flex;
    align-items: center;
    height: 100vh;
    width: 100%;
}
.login{
    border-radius: 10px;
    padding: .5rem;
    width: 35%;
    height: 80%;
    margin: 0 auto;
    background-color: #27ABBF;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 2rem;
}
.h1{
    color: #fff;
}
.container_cad{
    width: 100%;
    gap: .5rem;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.label_cont{
    margin-bottom:.8rem;
    color: #fff;
}
.input_cont{
    height: 3rem;
    width: 100%;
    border:  none;
    border-radius: 12px;
    text-align: center;

    width: auto;
    border-radius: 10px;
    padding: .3rem;
    border: none;
    color: none;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.label_cad{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.form_login{
    display: flex;
    flex-direction: column;
    width: 75%;

}
.label{
    color: #fff;
    margin-top: 1.5rem;
    font-weight: 450;
}
.input{
    height: 3rem;
    border:  none;
    padding: 0 .5rem;
    border-radius: 7px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}
.button_entrar{
    margin: 2rem auto;
    display: flex;

    color: #27ABBF;
    text-decoration: none;
    text-align: center;

    align-items: center;
    justify-content: center;

    width: 55%;
    height: 2.5rem;
    background-color: #fff;
    border-radius: 18px;

    cursor: pointer;
    border: none;
}
.button_entrar:hover{
    transition:.4s;
    color: #fff;
    background-color: #a0a0a0;
}

.button_outlook:hover{
    transition:.1s;
    color: #fff;
    background-color: #a0a0a0;
}

@media(max-width:860px) {
    .container_cad{
        display: flex;
        flex-direction: column;
    }
    .section_chamativa{
        display: none;
    }
    .login{
        width: 80%;
        font-size: 14px;
    }
    .button_outlook{
        width: 12rem;
        font-size: 12px;
    }
}

@media (max-width:350){
    .login{
        padding-top: 1rem;
    }
}